# Python cache
__pycache__/
*.py[cod]
*.class

# Jupyter
.ipynb_checkpoints/

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Temporary files
*.tmp
*.temp

# Operating system files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Python logs
*.log
